.inf-estudiante{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 1003;
    
}
.overlay-none{
    display: none;
    
}
.contenedor-inf-estudiante{
    width:700px;
    height: 80vh;
    background: white;
    position:relative;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.encab-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;

}
.salir-modal{
   
    position: absolute;
    top: 8px;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;  
    color: gray;
    border-radius: 50%;
    border: solid 2px rgb(95, 89, 89); 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 1rem; 
    transition: .4s ease all;   
}
.salir-modal:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.estudiante-informacion-1{
    display: flex;
    flex-direction: column;
}
textarea{
    width: 630px;
}
.btn-inf-estudiante{
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.btn-inf-estudiante button:first-child{
    background-color:rgb(136, 22, 241);
    border:none;
    color: white;
    padding:10px 23px;
    min-width: 100px;
    font-weight: bold;
}
.btn-inf-estudiante button:nth-child(2){
    background-color:rgb(232, 148, 13);
    border:none;
    color: white;
    padding:10px 23px;
    font-weight: bold;
}

/* Datos institucion */
